rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedInParent() {
      return request.auth != null
        && (
          request.auth.uid == "AVTqawxYzSQh9xgqUL9aSRigTwk2" ||
          request.auth.uid == "eBi4fVGfY7P8WvxXJXdjk6QkDV43"
        );
    }

    match /receipts/{expenseId}/{fileName} {
      allow read: if signedInParent();
      allow create, update: if signedInParent()
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*|application/pdf');
      allow delete: if signedInParent();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
